<nav class="navbar navbar-dark navbar-expand-md bg-dark justify-content-center">
    <a href="/" class="navbar-brand mr-0">Cypress Bay computer science</a>
    <button class="navbar-toggler ml-1" type="button" data-toggle="collapse" data-target="#collapsingNavbar2">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse justify-content-between align-items-center w-100" id="collapsingNavbar2">
        <ul class="navbar-nav mx-auto text-center">
            <div id="homePage">
              <li class="nav-item">
                  <a class="nav-link" href="/">Home</a>
              </li>
            </div>
            <div id="pointsPage">
              <li class="nav-item">
                  <a class="nav-link" href="/points/">View Points</a>
              </li>
            </div>
            <div id="entryPage">
              <li class="nav-item">
                  <a class="nav-link" href="/points/entry">Entry Form</a>
              </li>
            </div>
            <div id="meetingsPage">
              <li class="nav-item">
                  <a class="nav-link" href="/meetings/">Meetings</a>
              </li>
            </div>
        </ul>
        <ul class="nav navbar-nav flex-row justify-content-center flex-nowrap">
            <li class="nav-item"><a class="nav-link" href="https://www.instagram.com/cypressbaycomp"><i class="fa fa-instagram"></i></a> </li>
            <li class="nav-item"><a class="nav-link" href="mailto:salvadoraleguas@gmail.com"><i class="fa fa-envelope"></i></a> </li>
        </ul>
    </div>
</nav>
