{% extends 'layouts/default.html' %}

{% block content %}
  <div class="container wrapper shadow">
    <table id="studentPoints" class="table table-dark table-bordered table-condensed table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Date</th>
          <th scope="col">Points</th>
        </tr>
      </thead>
      <tbody>
      {% for meeting in meetings %}
        <tr class="table-row lineage" data-href="{% url 'meetingList' pk=meeting.id %}">
          <th scope="row">
            {{ forloop.counter }}
          </th>
          <td class="name">
          {{ meeting.name }}
          </td>
          <td class="date">
          {{ meeting.date }}
          </td>
          <td class="points">
            {{ meeting.points }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
